@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #3ddad7;
    --color-ring: #777a7e;
    --color-darkBorder: #23283b;
    --color-bgDark: #0d1117;
    --color-chatBg: #161b22;
    --color-chatBorder: #30363d;
    --color-chatHover: #21262d;
    --color-primaryBg: #181c24;
    --color-textGrFrom: #34a5a4;
    --color-textGrTo: #5a6ed3;
    --color-btnGrFrom: #1d6968;
    --color-btnGrTo: #2d386e;
    --color-btnGrFromLight: #e5e7eb;
    --color-bgLight: #f3f4f6;
    --color-btnGrToLight: #cfd4dc;
    --color-btnGrFromLightHover: #d1d5db;
    --color-btnGrFromHover: #6078ea;
    --color-textGrayMedium: #99a1af;
    --color-backBtnGrFromLight: #080C1D;
    --color-backBtnGrToLight: #7E808C;
}

.scrollbar-hide::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

button {
    cursor: pointer;
}

button:disabled,
[disabled] {
    cursor: not-allowed !important;
}

.my-confirm-dark {
    background: linear-gradient(90deg, #1d6968, #2d386e) !important;
    color: #fff !important;
    padding: 8px 24px;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s !important;
}

.my-confirm-dark:hover {
    background: linear-gradient(90deg, #6078ea, #3ddad7) !important;
    color: #fff !important;
    transition-duration: 300ms !important;
}

.my-cancel-dark {
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    background: linear-gradient(92.77deg, #34a5a4 7.73%, #5a6ed3 99.72%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* width: 100%; */
    padding: 0 !important;
    margin-right: 200px !important;
    margin-left: 200px !important;
}


.my-cancel-dark:hover {
    background: linear-gradient(92.77deg, #6078ea 7.73%, #3ddad7 99.72%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition-duration: 300ms !important;
}

.my-confirm-light {
    background: linear-gradient(90deg, #e5e7eb, #cfd4dc) !important;
    color: #1e2939 !important;
    padding: 8px 24px;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s !important;
}

.my-confirm-light:hover {
    background: linear-gradient(90deg, #d1d5db, #cfd4dc) !important;
    transition-duration: 300ms !important;
}

.my-cancel-light {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    background: linear-gradient(92.77deg, #080C1D 7.73%, #7E808C 99.72%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0 !important;
    margin-right: 200px !important;
    margin-left: 200px !important;
}

@media (max-width: 768px) {
    .my-cancel-light {
        margin-right: 50px !important;
        margin-left: 50px !important;
    }
}

.my-cancel-light {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    background: linear-gradient(92.77deg, #080C1D 7.73%, #7E808C 99.72%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0 !important;
    margin-right: 200px !important;
    margin-left: 200px !important;
}

@media (max-width: 375px) {
    .my-cancel-light {
        margin-right: 100px !important;
        margin-left: 100px !important;
    }
}

@media (max-width: 375px) {
    .my-cancel-dark {
        margin-right: 100px !important;
        margin-left: 100px !important;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .my-cancel-light {
        margin-right: 150px !important;
        margin-left: 150px !important;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .my-cancel-dark {
        margin-right: 150px !important;
        margin-left: 150px !important;
    }
}

.my-cancel-light:hover {
    background: linear-gradient(92.77deg, #7E808C 7.73%, #080C1D 99.72%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition-duration: 300ms !important;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}